<section class="landing-page">
  <div class="container">
    <div class="download">
      <h1 style="text-align:center">{{selectedPage[0].title}}</h1>
    </div>
    <div>
      <div class="col-xs-6">
        <a href="{{selectedPage[0].apple_link}}"><img src="images/apple-logo.png" alt="download from google play store"></a>
      </div>
      <div class="col-xs-6" style="margin-top: 7px;">
        <a href="{{selectedPage[0].google_link}}"><img src="images/google-logo.png" class="download from google play store"></a>
      </div>
    </div>
    <div>
      <div class="image">
        <img src="{{selectedPage[0].app_logo}}">
      </div>
    </div>
    <div>
      <div class="para">
        <p>{{selectedPage[0].description}}</p>
      </div>
    </div>
  </div>
</section>
